<div class="row body_content_four">
    
    <div class="col-md-6">
        <div class="row">
            <div class="col-sm-12 top_text">
                Receive Over 1 Million Validated Emails
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p>We validate all our emails to make sure that you're receiving the best quality. We understand how frustrating it can be when you send emails that don't convert. That's why we've created a clean list that will increase your ROI by converting these emails into customers.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 input_button">
                <a class="btn btn-primary btn-lg" href="#" role="button">Earn Passive Income</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-sm-12 img1">
                <img src="assets/img/iic-hero-image-03.webp" alt="" srcset="">
            </div>
        </div>
    </div>
</div>