<div class="row body_content_three">
    <div class="col-md-6">
        <div class="row">
            <div class="col-sm-12 img1">
                <img src="assets/img/bsusiness_profiles_webp.webp" alt="" srcset="">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-sm-12 top_text">
                We help creator companies and B2C brands grow
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 body_text">
                <p>Find social media influencers and creators in any niche and location. Get our massive database of over 1M+ emails and start reaching out instantly. Simply receive thousands of influencer and creator emails each month and start growing your ROI and your customer base today! </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 input_button">
                <a class="btn btn-primary btn-lg" href="#" role="button">Get Started Now</a>
            </div>
        </div>
    </div>
</div>