.body_content_two{
    background-color: rgb(144 193 214);
    padding-left: 0;
    padding-right: 0;
}
.top_text{
    color:white;
    font-size: 25px;
    text-align: center;
    padding-top: 20px;
}
.image_container{
    padding-bottom: 35px;
}
.img1 img{
    padding: 20px 2px 0px 12px;
}
.img2 img{
    padding: 0px 2px 5px 35px;
}
.img3 img{
    padding: 27px 2px 5px 0px;
}
.img4 img{
    padding: 35px 2px 5px 0px;
}
.img5 img{
    padding: 36px 2px 0px 5px;
}
.img6 img{
    padding: 0px 2px 5px 8px;
}