<div class="row body_content_two">
    <div class="col-md-12">
        <div class="row">
            <div class="col-sm-12 top_text">
                Our influencers work with top brands
            </div>
        </div>
        <div class="row image_container">
            <div class="col-sm-2 img1">
                <img src="assets/img/carousel/Tripadvisor.webp" alt="" srcset="">
            </div>
            <div class="col-sm-2 img2">
                <img src="assets/img/carousel/Adidas.webp" alt="" srcset="">
            </div>
            <div class="col-sm-2 img3">
                <img src="assets/img/carousel/Neutrogena.webp" alt="" srcset="">
            </div>
            <div class="col-sm-2 img4">
                <img src="assets/img/carousel/Samsung.webp" alt="" srcset="">
            </div>
            <div class="col-sm-2 img5">
                <img src="assets/img/carousel/G-shock.webp" alt="" srcset="">
            </div>
            <div class="col-sm-2 img6">
                <img src="assets/img/carousel/Pantene.webp" alt="" srcset="">
            </div>
        </div>
    </div>
</div>