<div class="row body_content_six">
    <div class="row">
        <div class="col-md-12 head_text">
            <p>What Brands Say</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p class="speak">"Never thought this would work, but Brybe convinced me otherwise and the ROI is insane. Thanks guys"</p>
            <div class="row citation">
                <p>--Nina Dean, TX</p>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>