<div class="row body_content_one">
    <div class="col-md-7">
        <div class="row">
            <div class="col-sm-12 body_font">
                The Fastest Way Find Creators, Customers, and Influencer emails</div>
        </div>
        <div class="row">
            <div class="col-sm-12 slogan" >
                Increase ROI with millions of Influencer/Creator email addresses<br>from our massive database. Get millions of new customers on your site.
            </div>
        </div>
        <div class="row svg_font">
            <div class="col-sm-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9 21.035l-9-8.638 2.791-2.87 6.156 5.874 12.21-12.436 2.843 2.817z"/></svg>
              Verified Emails </div>
            <div class="col-sm-4"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9 21.035l-9-8.638 2.791-2.87 6.156 5.874 12.21-12.436 2.843 2.817z"/></svg>Real Data </div>
            <div class="col-sm-4"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9 21.035l-9-8.638 2.791-2.87 6.156 5.874 12.21-12.436 2.843 2.817z"/></svg>Instant ROI Increase</div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input type="button" value="Get Started">
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <img src="assets/img/Enrichment-Page_v2-2.webp" alt="">
    </div>
</div>