<div class="row body_content_five">
    <div class="row">
        <div class="col-md-12 main_text">
            <p>Join leading brands and agencies that are working<br>smarter with Brybe Business</p>
        </div>
    </div>
    <div class="row">
        <p>Save time and money by connecting with the right influencers, the first time.</p>
    </div>
    <div class="row">
        <div class="col-md-12 input_button">
            <a class="btn btn-outline-primary btn-lg" href="#" role="button">Explore Price</a>
        </div>
    </div>
</div>