<div class="container-fluid zero-padding">
    <div class="header">
        <div class="row zero-padding">
            <div class="col-sm-2">
                <app-logo></app-logo>
            </div>
            <div class="col-sm-8">
                <app-menubar></app-menubar>
            </div>
            <div class="col-sm-2">
                <app-login></app-login>
            </div>
        </div>
    </div>
    <div class="body zero-padding">
        <div class="row zero-padding">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <span>User Resistration Form Sample</span>
                <app-registrationform></app-registrationform>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row zero-padding">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <span>Sign in form Sample</span>
                <app-loginform></app-loginform>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    <div class="footer">
        <div class="row zero-padding">
            <div class="col-sm-3">
                <app-companyprofile></app-companyprofile>
            </div>
            <div class="col-sm-6">
                <app-importantlinks></app-importantlinks>
            </div>
            <div class="col-sm-3"><app-sociallinks></app-sociallinks></div>
        </div>
    </div>
</div>