<div class="row">
    <div class="col">
       <h5>For Brybers</h5>
       <ul>
        <li><a href="">About</a></li>
        <li><a href="">Packaged Brybes</a></li>
        <li><a href="">Catalogs</a></li>
       </ul>
    </div>
    <div class="col">
        <h5>Support</h5>
        <ul>
         <li><a href="">Contact Us</a></li>
         <li><a href="">Brybe Support</a></li>
         <li><a href="">FAQ</a></li>
         <li><a href="">Terms and Conditions</a></li>
         <li><a href="">Privacy Policy</a></li>
         <li><a href="">CA Privacy Notice</a></li>
        </ul>
     </div>
     <div class="col">
        <h5>Community</h5>
        <ul>
         <li><a href="">Blog</a></li>
         <li><a href="">Partnership</a></li>
         <li><a href="">Affiliates</a></li>
        </ul>
     </div>
</div>