<!-- A grey horizontal navbar that becomes vertical on small screens -->
<nav class="nav navbar-text nav-pills navbar-expand-lg menubar">

    <!-- Links -->
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" href="#">Discover</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Learning School</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Jobs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Business</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Join Now</a>
      </li>
    </ul>
  
  </nav>